<h2>All Historical Landmarks</h2>

<!-- add content here -->

<h1>Historical Landmarks</h1>
<br>
<% @landmarks.each do |landmark| %>
  <h3><a href="/landmarks/<%=landmark.id%>" target="_blank"><%=landmark.name%></a></h3>
  <p><%=landmark.year_completed%></p>
  <%end%>
<a href="/landmarks/new" target="_blank">Create a Landmark</a>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
