<h2>Create New Landmark</h2>

<!-- add content here -->

<form method="post" action="/landmarks">
  <label>Name:</label><br>
    <input type="text" id="landmark_name" name="landmark[name]"><br>
  <label>Year Completed:</label><br>
    <input type="number" id="landmark_year_completed" name="landmark[year_completed]"><br>
  <input type="submit" value="Create New Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
